
body {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    background-color:#171A4A;
}

header {
    text-align: center;
    padding: 20px 0;
    position: relative;
}

header img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 175px;
    max-width: 100%; 
}

.hr { 
    color: #E8C39E;
    border: 150px
}

.texto-titulos {
    color:#E8C39E; 
    text-align:end;
    font-size:125%;
    margin-right: 50px;
}

img {
    display: flex;
    max-width: 100%;
    height: auto;
}

.carousel-container {
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    animation: carouselAnimation 35s linear infinite;
}

.slide {
    flex: 0 0 100%;
    max-width: 400px;
}

.slide img {
    display: flex;
    max-width: 400px;
    height: auto;
}

@keyframes carouselAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    99.9999999% {
        transform: translateX(-400%);
    }
}

.dropdown-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dropdown {
    display: inline-block;
    text-align: center;
    right: 0;
}

.dropbtn {
    background-color: #171A4A;
    color: #E8C39E;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 125%;
    font-weight: 700;
    right: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #171A4A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #E8C39E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #171A4A;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #171A4A;
}

.imagen-container-conocenos {
    position: relative;
    width: 100%;
    overflow: hidden;
    position: center;
    padding-bottom: 50px;
    top: 50%;
    left: -100%; 
    animation: slideFromLeft 4s ease-in-out forwards;
    bottom: 10%;
}

.imagen-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    position: center;
    top: 50%;
    left: -100%; 
    animation: slideFromLeft 8s ease-in-out forwards;
}

@keyframes slideFromLeft {
    0% {
        left: -100%;
    }
    100% {
        left: 0; 
    }
}